<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="mark43">
    <test name="unitests">
        <classes>
            <class name="com.krishnanand.mark43.CardTest" />
            <class name="com.krishnanand.mark43.HandTest" />
            <class name="com.krishnanand.mark43.PlayerTest" />
            <class name="com.krishnanand.mark43.GameTest" />
        </classes>
    </test>
</suite>
